<h1>Reset your password</h1>

<%= form_for @user, url: reset_path, method: :put do |f| %>
  <%= f.password_field :password, placeholder: "New password" %>
  <%= f.password_field :password_confirmation, placeholder: "Password again" %>
  <%= f.submit "Reset password" %>
<% end %>
